.navbar {
  padding: 1rem;
  display: flex;
  text-decoration: none;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(0, 0, 0);
  border-bottom: 3px solid rgb(0, 0, 0);
}

.logotipo {
  text-decoration: none;
  font-size: x-large;
  color: white;
}

.menu {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.boton-menu {
  text-decoration: none;
  border-radius: 1rem;
  background-color: black;
  color: white;
  font-size: 1.1rem;
}

.boton-menu:hover{
  color: black;
  background-color: white;
}

.carrito{
  background-color: white;
  font-size: x-large;
  border-radius: 1rem;
}

.saludo{
  text-align: center;
  background-color: rgb(101, 101, 101);
  margin-top: 0;
}

